<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gizwits.lease.order.dao.OrderTimerDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gizwits.lease.order.entity.OrderTimer">
		<id column="id" property="id" />
		<result column="order_no" property="orderNo" />
		<result column="sno" property="sno" />
		<result column="week_day" property="weekDay" />
		<result column="time" property="time" />
		<result column="is_enable" property="isEnable" />
		<result column="is_expire" property="isExpire" />
		<result column="is_deleted" property="isDeleted" />
		<result column="command" property="command" />
		<result column="ctime" property="ctime" />
		<result column="utime" property="utime" />
	</resultMap>

</mapper>
