<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gizwits.lease.panel.dao.PanelDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gizwits.lease.panel.entity.Panel">
		<id column="id" property="id" />
		<result column="utime" property="utime" />
		<result column="ctime" property="ctime" />
		<result column="type" property="type" />
		<result column="module" property="module" />
		<result column="module_item" property="moduleItem" />
		<result column="uri" property="uri" />
		<result column="condition" property="condition" />
	</resultMap>

</mapper>
