<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gizwits.lease.trade.dao.TradeBaseDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gizwits.lease.trade.entity.TradeBase">
		<id column="trade_no" property="tradeNo" />
		<result column="ctime" property="ctime" />
		<result column="utime" property="utime" />
		<result column="status" property="status" />
		<result column="total_fee" property="totalFee" />
		<result column="order_no" property="orderNo" />
		<result column="order_type" property="orderType" />
		<result column="notify_url" property="notifyUrl" />
		<result column="nofify_time" property="nofifyTime" />
	</resultMap>

</mapper>
